.modal-body {
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
    
}

.modal-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.modal-body h2 {
    font-size: 20px;
    font-weight: 700;
}

.modal-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-btn {
    height: 33px;
    border: none;
    margin: 0;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.confirm {
    background-color: rgb(163, 62, 77);
    color: #fff;

}

.cancel {
    background-color: rgb(238, 236, 115); 
    color: #000;
   
}