.main {
    padding-bottom: 50px;
}
.user-image-pins-details {
    margin: 5px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.image-page-details {
    max-width: 550px;
    max-height: 750px;
}

.user-pins-details-page {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.title-pins-details-page {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.pins-details-page-text {
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    letter-spacing: 1px;
}

.pins-details-page-order-list {
    list-style-type: space-counter;;
}

.pins-details-page-subtitle {
    font-size: 18px;
    font-weight: 700px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pins-details-comment-item {
    display: flex;
    gap:10px;
    align-items: center;
}

.pins-details-page {
    padding-top: 100px;
    display: flex;
    gap:50px;
}

.pins-details-form {
    display: flex;
    gap:20px;
    margin-top: 20px;
    position: relative;
}

.pins-details-emogi-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 15%;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.pins-details-emogi {
    width: 25px;
    height: 25px; 
    background-color: rgb(238, 238, 14);
    border-radius: 50%;
}

.pins-details-ingredients-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pins-details-primary{
    background-color:rgb(163, 62, 77); 
    padding: 5px;
    color: #fff;
    border: none;
    height: 25px;
    font-size: 13px;
    max-width: 60px;
    width: 100%;
}



.pins-page-title {
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 100px;
    color: rgb(163, 62, 77);
}

.pins-page-link {
    color: rgb(163, 62, 77);
    max-width: 250px;
    display: inline-block;
    margin: 15px 5px;
}

.pins-details-delete :hover {
    background-color: rgb(163, 62, 77);
    color: #fff;
}

.pins-details-delete {
    
    border: 1px solid #000;
    border-radius: 4px;
    height: 33px;
    margin: 0;
    padding: 5px;
    background: rgb(238, 236, 115);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}



.pins-details-update {
    height: 33px;
    border: none;
    margin: 0;
    padding: 5px;
    background-color: rgb(163, 62, 77);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;

}